body {
	padding: 0;
	margin: 0;
	font-size: 14px;
}

div {
	color: #262626;
}

div a {
	text-decoration: none;
	color: black;
}

div a:hover {
	color: red;
}

.nav {
	background: darkorange;
}

.main_block {
	margin: 5px 0;
	padding-left: 10px;
}

.post {
	margin-top: 20px;
}

.title {
	color: #262626;
}

.date {
	font-size: 10px;
	color: grey;
}
