body {
	padding: 0;
	margin: 0;
	font-size: 14px;
}

div {
	color: grey;
	
}

div a {
	text-decoration: none;
	color: black;
}

.nav {
	background: darkorange;
}

.main_block {
}

.post {
	margin-top: 20px;

}

.date {
	font-size: 10px;
}
