{% extends "base.html" %}

{% block title %}
{{ title }}	
{% endblock title %}

{% block content %}
<div>
	<div>
		{{ post.title }}<br>
		<div class="date">{{ post.author_name }}
			{{ post.creation_date }}</div>
	</div>

	<form method='post'>
	{% csrf_token %}
	{{ form.as_p }}
	<input type="hidden" name="post_id" id="post_id" value="{{ post.pk }}">
	<input type="submit" name="comment" id="comment" value="add comment">
	</form>
	<div>
	<ul>
	{% for comment in comments %}
	{% if not comment.parent %}
		<li>{% include 'comment.html' %}</li>
	{% endif %}
	{% endfor %}	
	</ul>
	</div>
</div>
	
{% endblock content %}
