{% extends "base.html" %}

{% block title %}
{{ title }}	
{% endblock title %}

{% block content %}
<div>
	<ol>
	{% for post in posts %}
	<li><div class="post"> 
 			<a href={{ post.link }} target="_blank">{{ post.title }}</a><br>
			<div class="date">by <b>{{ post.author_name }}</b> at <i>{{ post.creation_date}}</i></div>
			<a href="{% url 'upvote_post' post_id=post.pk  %}">votes: {{ post.amount_of_upvotes }}</a>
			<a href="{% url 'comments' post_id=post.pk %}">comments: {{ post.comments.count}}</a><br>
		</div></li>		
	{% endfor %}
	</ol>
</div>
	
{% endblock content %}
