{% extends "base.html" %}

{% block title %}
{{ title }}	
{% endblock title %}

{% block content %}
<div>
	<div class="title">
		<div class="date">
			{{ comment.content }}
			{{ comment.author_name }} {{ comment.creation_date }}
		</div>
	</div>

	<form method='post'>
	{% csrf_token %}
	{{ form.as_p }}
	
	<input type="hidden" name="parent_id" id="comment_id" value="{{ comment.pk }}">
	<input type="hidden" name="post_id" id="post_id" value="{{ comment.post_id.pk }}">
	<input type="submit" name="comment" id="comment" value="reply">
	</form>
</div>
	
{% endblock content %}
